In [1]:
import pandas as pd

In [2]:
ppp_loans = pd.read_csv(r"C:\Users\panderson\OneDrive - Gannett Company, Incorporated\Documents\notes_07062020sdppploans.csv")

In [3]:
ppp_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LoanRange      1944 non-null   object
 1   BusinessName   1944 non-null   object
 2   Address        1944 non-null   object
 3   City           1944 non-null   object
 4   State          1944 non-null   object
 5   Zip            1944 non-null   int64
 6   NAICSCode      1944 non-null   int64
 7   BusinessType   1942 non-null   object
 8   RaceEthnicity  1944 non-null   object
 9   Gender         1944 non-null   object
 10  Veteran        1944 non-null   object
 11  NonProfit      173 non-null    object
 12  JobsRetained   1750 non-null   float64
 13  DateApproved   1944 non-null   int64
 14  Lender         1944 non-null   object
 15  CD             1944 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 151.9+ KB

In [4]:
ppp_loans.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,"e $150,000-350,000","101 TECHNOLOGIES, INC.",1616 E 10TH ST,SIOUX FALLS,SD,57103,541519,Corporation,White,Male Owned,Unanswered,NaN,28.0,43929,First Savings Bank,SD - 00
1,b $2-5 million,16 HOTEL PROPERTIES,2011 8TH AVE NE,ABERDEEN,SD,57401,721110,Sole Proprietorship,Unanswered,Male Owned,Non-Veteran,NaN,341.0,43928,Dacotah Bank,SD - 00
2,"e $150,000-350,000",25TH AVE L.L.C.,910 4TH ST,BROOKINGS,SD,57006,721110,Limited Liability Company(LLC),White,Male Owned,Non-Veteran,NaN,52.0,43925,CorTrust Bank National Association,SD - 00
3,"e $150,000-350,000",281 TRAVEL CENTER INC.,601 Commerical Ave SW,WOLSEY,SD,57384,447110,Corporation,White,Male Owned,Unanswered,NaN,35.0,43926,American Bank & Trust,SD - 00
4,"e $150,000-350,000",3 NORTH LLC,14515 485th Ave,BIG STONE CITY,SD,57216,238110,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,NaN,43936,Great Western Bank,SD - 00

In [5]:
sf_ppp = ppp_loans[ppp_loans.City.str.contains('sioux falls', case = False)]

In [6]:
sf_ppp.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,"e $150,000-350,000","101 TECHNOLOGIES, INC.",1616 E 10TH ST,SIOUX FALLS,SD,57103,541519,Corporation,White,Male Owned,Unanswered,NaN,28.0,43929,First Savings Bank,SD - 00
6,"e $150,000-350,000","3D SECURITY, INC.",47185 WILD CLOVER CIR Ste 200,SIOUX FALLS,SD,57107,423990,Corporation,Unanswered,Unanswered,Unanswered,NaN,15.0,43928,Dacotah Bank,SD - 00
8,"e $150,000-350,000","44I, INC",1602 S WESTERN AVE,SIOUX FALLS,SD,57105,541810,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,21.0,43927,First Bank & Trust,SD - 00
9,"e $150,000-350,000","605 COMPANIES, INC.",700 e 65th st n,SIOUX FALLS,SD,57104,236115,Subchapter S Corporation,White,Male Owned,Non-Veteran,NaN,13.0,43924,First Dakota National Bank,SD - 00
10,"d $350,000-1 million",69TH STREET LOOK'S MARKET LLC,500 E 69th St.,SIOUX FALLS,SD,57108,722511,Limited Liability Company(LLC),White,Male Owned,Unanswered,NaN,65.0,43925,Quoin Financial Bank,SD - 00

In [13]:
sfloans = sf_ppp.groupby("LoanRange").LoanRange.count()

In [16]:
sfloans.head()

LoanRange
a $5-10 million           2
b $2-5 million           33
c $1-2 million           62
d $350,000-1 million    202
e $150,000-350,000      343
Name: LoanRange, dtype: int64